<img
  class="img-fluid"
  src="assets/pics/pexels-karolina-grabowska-5650023 (1).jpg"
  alt="landing-page-image"
/>
<section>
  <div id="section-hero">
    <div class="content">
      <h5 class="heading-1">coupons system 2021</h5>
      <h1>welcome to COUPON<strong>SYSTEM</strong> unique store</h1>
      <p class="description">
        The best online coupons shop rated by the most top magazines. <br> From any
        type of customer to any type of coupon. <br> We got the best offers for our
        clients.
      </p>
      <br><br>
      <app-login></app-login>
    </div>
  </div>
  <app-footer></app-footer>
</section>
